body {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(168,11,184,1) 100%);
}

#contenido {
    margin: auto;
    width: 70%;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#cards {
    width: 80%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#buttons button:focus {
    background-color:red;
}

#centrado {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

#receta {
    background:    #ff9900;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
}

#ingredientes {
    background:    #15d798;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
}

#hambre {
    background:    #6fa8dc;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
}